  <div class="row hidden-print">
    <div class="col-xs-12">
      <div class="nav navbar navbar-default" style="background-color:#5BC0DE;">
        <div class="container-fluid">
          <div class="navbar-header navbar-right">
            <a class="navbar-brand" onclick="window.print()">
              <span class="glyphicon glyphicon-print size16 color1" aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-header navbar-center">
            <a class="navbar-brand">
              <span class="color1">КАСОВЫЙ ОРДЕР - заполните все поля и нажмите кнопку печать</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-1">
      <div class="col-xs-10">
        <table class="table-condensed">
          <tbody>
            <tr>
              <td class="lpanel">
                <div class="pull-left">
                  <p class="text-right">Ідентифікаційний код</p>
                  <p class="text-right"><strong>2493601607</strong></p>
                  <div class="pull-left">
                    <p class="text-left"><strong>Traveline Agency "global travel&leisure"</strong></p>
                    <p class="text-left"><strong>ФОП Пєтухова І.М.</strong></p>
                    <div class="pull-center">
                      <p class="text-center">(найменування підприємства (установи, організації))</p>
                    </div>
                    <div class="pull-center">
                      <h5 class="text-center">
                        <strong class="string1">Прибутковий касовий ордер № {{input class="input-form" type="text" value=order}}</strong>
                      </h5>
                      <p class="text-center">від " {{input class="input-day" type="text" value=day}} " {{input class="input-month" type="text" value=month}}  20{{input class="input-year" type="text" value=year}} р.</p>
                      <table class="table-bordered">
                        <tr>
                          <th class="width95">
                            <p class="text-center">Кореспонду- ючий рахунок, субрахунок</p>
                          </th>
                          <th class="width75">
                            <p class="text-center">Код аналі- тичного обліку</p>
                          </th>
                          <th class="width90">
                            <p class="text-center">Сума цифрами</p>
                          </th>
                          <th class="width90">
                            <p class="text-center">Код цільового призначення</p>
                          </th>
                          <th class="width90"></th>
                        </tr>
                        <tr>
                          <td><div style="visibility: hidden;">x</div></td>
                          <td><div style="visibility: hidden;">x</div></td>
                          <td><div style="visibility: hidden;">x</div></td>
                          <td><div style="visibility: hidden;">x</div></td>
                          <td><div style="visibility: hidden;">x</div></td>
                        </tr>
                      </table>
                    </div>
                    <div class="pull-left">
                      <br>
                      <p class="text-left">Прийнято від: {{input class="input-surname" type="text" value=fio}}</p>
                      <p class="text-left">Підстава: {{input class="input-trip" type="text" value=ground}}</p>
                      <p class="text-left">Сума: {{input class="input-sum" type="text" value=sum}}</p>
                      <p class="text-center">(словами)</p>
                      <p class="text-left">Сума: {{input class="input-hr" type="text" value=sum_hr}},{{input class="input-cent" type="text" value=sum_cent}} грн.</p>
                      <p class="text-left">Головний бухгалтер___________________________________________</p>
                      <p class="text-center">(підпис, прізвище, ініціали)</p>
                      <p class="text-left">Одержав касир_______________________________________________</p>
                      <p class="text-center">(підпис, прізвище, ініціали)</p>
                    </div>
                  </div>
                </div>
              </td>
              <td class="cpanel">
                <div class="col-xs-1">
                  <div class="pull-center">
                    <table>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td class="text-center"> Л </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td class="text-center"> і </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td class="text-center"> Н </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td >| </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td class="text-center"> і </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td class="text-center"> я </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td class="text-center"> в </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td class="text-center"> і </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td class="text-center"> д </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td class="text-center"> Р </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td class="text-center"> і </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td class="text-center"> з </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td class="text-center"> у </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                      <tr>
                        <td> | </td>
                        <td>   </td>
                        <td> | </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row hidden-print">
    <div class="col-xs-12 hidden-print">
      <button type="button" class="nonoutline hidden-print btn btn-primary btn-lg btn-block btn-info" onclick="window.print()">Отправить на печать</button>
    </div>
  </div>

  <script>
    App = Ember.Application.create();
  </script>
