<h2>{{author}}</h2>

<div>{{review}}</div>
<br>

<ul class="button-group radius even-2">
  <li>{{#link-to 'micropost.edit' class="button expand info"}}Редагувати{{/link-to}}</li>
  <li><a href="http://response.travelonline.com.ua/chat#/microposts/" class="button warning">Повернутися</a></li>
</ul>

{{outlet}}
