::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

::-webkit-scrollbar {
  display: none;
}

:-moz-any-link:focus {
  outline: none;
}

:-webkit-any-link:focus {
  outline: none;
}

:any-link:focus {
  outline: none;
}

:focus {
  outline: none;
}

a:focus {
  outline: none;
}

main {
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  cursor: default;
  font-size: 100%;
}

.master-wrapper-home {
  top: 0px;
  z-index: 9999 !important;
  margin: 0px 0px 300px;
  background: none repeat scroll 0% 0% #FFF;
  position: relative;
}

.page-template-page-homepage {
  position: relative;
}

.page-template-page-homepage #home-index {
  height: 100%;
  width: 100%;
  top: 0px;
  background: url("sf-street.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home-index {
  height: 300px;
  top: 80px;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 0px;
  margin: 0px;
}

.card {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-perspective: 5000;
  perspective: 5000;
  background: rgba(0, 0, 45, 0.5);
}

.card .container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card .container .front, .card .container .back {
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .container .front .row, .card .container .front .column, .card .container .front .columns, .card .container .back .row, .card .container .back .column, .card .container .back .columns {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .container .front {
  z-index: 2;
}

.card .container .back {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .container:hover {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
}

.card .container {
  /* border: solid 1px rgba(0, 0, 45, 0.5); */
}

.card .container .front, .card .container .back {
  padding: 1em;
}

.card.square .container {
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
}

.start-exploring {
  display: inline-block;
  margin-top: 50px;
  cursor: pointer;
  position: relative;
  -webkit-transform: perspective(500px) rotateX(-70deg);
  -webkit-transform-origin: center center;
  -moz-transform: perspective(500px) rotateX(-70deg);
  -moz-transform-origin: center center;
  -ms-transform: perspective(500px) rotateX(-70deg);
  -ms-transform-origin: center center;
  -o-transform: perspective(500px) rotateX(-70deg);
  -o-transform-origin: center center;
  transform: perspective(500px) rotateX(-70 deg);
  transform-origin: center center;
  opacity: 0;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.before-hide .start-exploring {
  opacity: 0;
}

.show {
  background: rgba(0, 80, 200, 0.4);
}

.start-exploring.show {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 1;
}

.start-exploring:hover .button {
  background-color: rgba(5, 9, 44, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#6605092C', endColorstr='#6605092C');
}

.start-exploring .button {
  background: rgba(5, 9, 44, 0.5);
  width: 420px;
  height: 80px;
  font-size: 16px;
  line-height: 80px;
  text-transform: uppercase;
  color: white;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  letter-spacing: 8px;
  margin: 0 0 0;
  padding: 0rem 0rem 0.0625rem;
  z-index: 2;
}

.start-exploring .bottom-line {
  position: absolute;
  width: 150px;
  height: 2px;
  background: #19f5e8;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  -webkit-transition: all .05s linear;
  -moz-transition: all .05s linear;
  -ms-transition: all .05s linear;
  -o-transition: all .05s linear;
  transition: all .05s linear;
}

.start-exploring:hover .bottom-line {
  left: inherit;
  z-index: 2;
}

.right-border {
  position: absolute;
  width: 2px;
  height: 0px;
  background: #19f5e8;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.start-exploring:hover .right-border {
  -webkit-transition: height .05s linear .05s;
  -moz-transition: height .05s linear .05s;
  -ms-transition: height .05s linear .05s;
  -o-transition: height .05s linear .05s;
  transition: height .05s linear .05s;
  height: 100%;
  z-index: 2;
}

.top-border {
  position: absolute;
  width: 0px;
  height: 2px;
  background: #19f5e8;
  top: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.start-exploring:hover .top-border {
  -webkit-transition: width .2s linear .1s;
  -moz-transition: width .2s linear .1s;
  -ms-transition: width .2s linear .1s;
  -o-transition: width .2s linear .1s;
  transition: width .2s linear .1s;
  width: 100%;
  z-index: 2;
}

.left-border {
  position: absolute;
  width: 2px;
  height: 0px;
  background: #19f5e8;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 2;
}

.start-exploring:hover .left-border {
  -webkit-transition: height .05s linear .3s;
  -moz-transition: height .05s linear .3s;
  -ms-transition: height .05s linear .3s;
  -o-transition: height .05s linear .3s;
  transition: height .05s linear .3s;
  height: 100%;
  z-index: 2;
}

.bottom-border {
  position: absolute;
  width: 0px;
  height: 2px;
  background: #19f5e8;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 2;
}

.start-exploring:hover .bottom-border {
  -webkit-transition: width .2s linear .35s;
  -moz-transition: width .2s linear .35s;
  -ms-transition: width .2s linear .35s;
  -o-transition: width .2s linear .35s;
  transition: width .2s linear .35s;
  width: 100%;
  z-index: 2;
}

.start-exploring:hover .rectangle-border {
  -webkit-transition: all .2s linear .22s;
  -moz-transition: all .2s linear .22s;
  -ms-transition: all .2s linear .22s;
  -o-transition: all .2s linear .22s;
  transition: all .2s linear .22s;
  outline-color: rgba(255, 255, 255, 0);
  outline-width: 1px;
  -webkit-transform: scale(1.1, 1.6);
  -moz-transform: scale(1.1, 1.6);
  -ms-transform: scale(1.1, 1.6);
  -o-transform: scale(1.1, 1.6);
  transform: scale(1.1, 1.6);
}

.rectangle-border {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  outline: 0px solid #FFF;
  transform: scale(1, 1);
  transform-origin: center center 0px;
}

.start-exploring.show .bottom-line {
  -webkit-animation: start-exploring-show 1s linear;
  -moz-animation: start-exploring-show 1s linear;
  -ms-animation: start-exploring-show 1s linear;
  -o-animation: start-exploring-show 1s linear;
  animation: start-exploring-show 1s linear;
}

@-webkit-keyframes start-exploring-show {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  75% {
    width: 200px;
  }

  100% {
    width: 150px;
  }
}

@-moz-keyframes start-exploring-show {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  75% {
    width: 200px;
  }

  100% {
    width: 150px;
  }
}

@-ms-keyframes start-exploring-show {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  75% {
    width: 200px;
  }

  100% {
    width: 150px;
  }
}

@-o-keyframes start-exploring-show {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  75% {
    width: 200px;
  }

  100% {
    width: 150px;
  }
}

@keyframes start-exploring-show {
  0% {
    width: 0;
  }

  50% {
    width: 0;
  }

  75% {
    width: 200px;
  }

  100% {
    width: 150px;
  }
}
