.size-12 {
  font-size: 12px;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-21 {
  font-size: 21px;
}

.size-24 {
  font-size: 24px;
}

.size-26 {
  font-size: 26px;
}

.size-26 {
  font-size: 26px;
}

.size-28 {
  font-size: 28px;
}

.size-30 {
  font-size: 30px;
}

.size-32 {
  font-size: 32px;
}

.size-34 {
  font-size: 34px;
}

.size-36 {
  font-size: 36px;
}

.size-48 {
  font-size: 48px;
}

.size-60 {
  font-size: 60px;
}

.size-72 {
  font-size: 72px;
}

.row.display {
  background: none repeat scroll 0 0 #eee;
  border: 1px solid #c6c6c6;
  font-size: 11px;
  line-height: 2rem;
  margin-bottom: 10px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row.display .columns:nth-child(2), .row.display .columns.small-centered, .row.display .columns.large-centered {
  background: none repeat scroll 0 0 #e1e1e1;
}

.alert-base.custom-bg {
  background-color: #f8c190;
  border-color: #08496f;
  color: blue;
  border-style: solid;
  border-width: 1px;
  display: block;
  font-weight: bold;
  margin-bottom: 1.25em;
  position: relative;
  padding: 0.6875em 1.3125em 0.75em 0.6875em;
  font-size: 0.875em;
}

/*
  Shadow Experiments
  http://zurb.com/playground/css-boxshadow-experiments 
  http://zurb.com/playground/osx-dock
  http://zurb.com/playground/pizza-amore-charts-and-graphs
  http://zurb.com/playground/super-awesome-buttons
  http://zurb.com/playground/awesome-overlays
  http://zurb.com/playground/radioactive-buttons
  http://zurb.com/playground/google-buttons
  http://zurb.com/playground/inline-form-labels
  http://zurb.com/playground/jquery-text-change-custom-event
  http://zurb.com/playground/drop-in-modals
  http://zurb.com/playground/ajax-upload
  http://zurb.com/playground/javascript-annotation-plugin
  http://zurb.com/playground/jquery-raptorize?timed_launch=true
  http://zurb.com/playground/reveal-modal-plugin
  http://zurb.com/playground/orbit-jquery-image-slider
  http://zurb.com/playground/off-canvas-layouts
  http://zurb.com/playground/jquery-joyride-feature-tour-plugin
  http://zurb.com/playground/foundation-icons
  http://zurb.com/playground/foundation-stencil-sets
  http://zurb.com/playground/responsive-tables
  http://zurb.com/playground/responsive-sketchsheets
  http://zurb.com/ink/templates.php
  http://zurb.com/ink/
  http://zurb.com/playground/clambake
  http://jsfiddle.net/builtbymay/sUhAU/
  http://zurb.com/playground/foundation-interchange
  http://zurb.com/playground/twentytwenty
  http://zurb.com/playground/wrangle-jquery-plugin
  http://zurb.github.io/wrangle-demo/
  http://zurb.com/playground/prototyping-mobile-first
  http://zurb.com/playground/graduates

  http://zurb.com/triggers

  http://www.tilde.io/
  https://www.capitainetrain.com/
  http://www.nedap.com/technology-that-matters/
  http://www.brainistic.com/works.html
  http://www.kabisa.nl/#slide-contact
  http://vsco.co/film
  http://www.nezasa.com/
  https://www.onepercentclub.com/en/
  http://greenfieldhq.com/
  https://github.com/greenfieldhq/greenfield
  https://github.com/greenfieldhq/greenfield.git
  https://github.com/greenfieldhq/reefpoints
  https://github.com/greenfieldhq/reefpoints.git
  https://github.com/greenfieldhq/ember-mapbox
  https://github.com/greenfieldhq/ember-cli-books
  https://github.com/greenfieldhq/ember-cli-mapbox
  https://fnd.io/
*/
ul.peri-boxes li {
  float: left;
  width: 52px;
  height: 52px;
  margin: 0px;
}

ul.peri-boxes li a {
  float: left;
  width: 52px;
  height: 37px;
  font-size: 16px;
}

ul.peri-boxes li a.box {
  background-color: #1b2a34;
  color: #fff;
  border: 1px solid #000;
  -webkit-box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000;
  -moz-box-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000, 4px 4px #000, 5px 5px #000, 6px 6px #000, 7px 7px #000, 8px 8px #000;
  -webkit-transition: ll 0.12s ease-out;
  -moz-transition: ll 0.12s ease-out;
}

ul.peri-boxes li a.box:hover {
  background-color: #2daebf;
  left: -23px;
  top: -23px;
  width: 62px;
  height: 47px;
  z-index: 1;
  font-size: 1.5em;
  border: 1px solid #2daebf;
  -moz-box-shadow: 1px 1px #007d9a, 2px 2px #007d9a, 3px 3px #007d9a, 4px 4px #007d9a, 5px 5px #007d9a, 6px 6px #007d9a, 7px 7px #007d9a, 8px 8px #007d9a;
  -webkit-box-shadow: 1px 1px #007d9a, 2px 2px #007d9a, 3px 3px #007d9a, 4px 4px #007d9a, 5px 5px #007d9a, 6px 6px #007d9a, 7px 7px #007d9a, 8px 8px #007d9a;
  -webkit-animation-name: boxPulse;
  -webkit-animation-duration: .7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .12s;
}

@-webkit-keyframes boxPulse {
  from {
    width: 62px;
    height: 47px;
    left: -23px;
    top: -23px;
    -webkit-animation-timing-function: ease-out;
  }

  50% {
    width: 58px;
    height: 45px;
    top: -19px;
  }

  to {
    width: 62px;
    height: 47px;
    left: -23px;
    top: -23px;
    -webkit-animation-timing-function: ease-out;
  }
}

/*
  http://zurb.com/playground/css3-polaroids
*/
ul.polaroids a:after {
  content: attr(title);
}

/* By default, we tilt all our images -2 degrees */
ul.polaroids a {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}

/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}

/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) a {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}

/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}

/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) a {
  position: relative;
  top: 8px;
  right: 5px;
}

/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) a {
  position: relative;
  top: 3px;
  left: -5px;
}

/* Scale the images on hover, add transitions for smoothing things out, and ensure the hover appears on top */
ul.polaroids a:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

/* Add drop shadows and smooth out the transition (Safari only) */
ul.polaroids a {
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

/* On hover, darken the shadows a bit */
ul.polaroids a {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.start-exploring {
  top: 100px;
  float: none;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  transform: perspective(500px) rotateX(-70deg);
  transform-origin: center center 0px;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

.l-wrap--blog__post_tourist {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 100%;
}

.ad--tourist {
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  position: relative;
  width: 100%;
  border: 2px solid #fb755a;
  background-image: url("tourist.jpg");
}

.ad--tourist:before {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-size: cover;
  opacity: 0;
}

.ad--tourist:hover:before {
  opacity: 1;
}

.ad--tourist:hover .ad__text_tourist {
  color: #fb755a;
}

.ad--tourist:hover .ad__text_tourist:before, .ad--tourist:hover .ad__text_tourist:after {
  background-color: #ffffff;
}

.ad--tourist:before {
  background-color: #ffffff;
}

.ad__text_tourist {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  margin-right: auto;
  margin-left: auto;
  display: block;
  position: relative;
  max-width: 340px;
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.33;
}

@media (min-width: 500px) {
  .ad__text_tourist:after, .ad__text_tourist:before {
    display: inline-block;
    position: relative;
    height: 6px;
    width: 6px;
    content: "";
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-color: #fb755a;
  }

  .ad__text_tourist:after {
    top: 15px;
    right: -30px;
  }

  .ad__text_tourist:before {
    top: 15px;
    left: -30px;
  }
}

.ad__text_tourist:before, .ad__text_tourist:after {
  background-color: #ffffff;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}

@media (min-width: 500px) {
  .ad__text_tourist:before, .ad__text_tourist:after {
    position: absolute;
  }
}

.the-grid li {
  float: none;
  display: inline-block;
  margin: auto auto;
  width: 49.4%;
}

@media only screen and (min-width: 70.063em) {
  .the-grid li {
    float: none;
    display: inline-block;
    width: 72.5%;
  }
}
